$text-color: #000;
$background-color: #fff;
$main-color: #aaa;
$lighter-color: lighten($main-color, 25%);
$darker-color: darken($main-color, 25%);

$border-width: 1px;
$font-family: Sans-Serif;
$font-size: 0.75rem;
$font-size-subheader: 0.875rem;
$font-size-header: 1rem;

$day-picker-border-radius: 2px;
$day-picker-box-shadow: 0 0 5px $main-color;
$day-container-border-radius: 50%;
$day-container-size: 35px;
$day-container-margin: 2px;

$today-color: #5d0;
$current-color: #aaa;
$hover-color: rgba(0, 0, 0, 0.2);

$text-color: #000;
$text-disabled-color: #ddd;

@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

@mixin no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin box-shadow($color) {
    box-shadow: 0px 0px 0px 1px $color inset;
}

@mixin hovertransition {
    @include box-shadow($background-color);

    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;

    &:hover, &:focus, &:active {
        @include box-shadow($main-color);
    }

}

input[type=date].day-picker-target::-webkit-calendar-picker-indicator,
input[type=date].day-picker-target::-webkit-inner-spin-button {
    display: none;
}

.day-picker {
    @include flex;
    background: $background-color;
    border: $border-width solid $main-color;
    border-radius: $day-picker-border-radius;
    box-shadow: $day-picker-box-shadow;
    color: $text-color;
    display: none;
    flex-direction: column;
    font-family: $font-family;
    font-size: $font-size;
    outline: none;
    position: absolute;
    user-select: none;

    &.day-picker__active {
        display: flex;
    }

    div {
        @include flex;
    }

    .month-container {
        flex-direction: column;
    }

    .current-year-month {
        @include no-overflow;
        flex: 3;
        font-size: $font-size-header;
        width: 3 * $day-container-size + 6 * $day-container-margin;
    }

    .weekdays-container {
        font-size: $font-size-subheader;
    }

    .weekday-container, .day-container, .previous-year, .previous-month, .next-year, .next-month {
        @include no-overflow;
        border-radius: $day-container-border-radius;
        height: $day-container-size;
        overflow: hidden;
        text-overflow: ellipsis;
        width: $day-container-size;
        margin: $day-container-margin;
    }

    .previous-year, .previous-month, .next-year, .next-month, .day-container:not(.day-container__disabled) {
        cursor: pointer;

        @include hovertransition;
    }

    .previous-year::before {
        content: "⇠";
    }

    .next-year::before {
        content: "⇢";
    }

    .previous-month::before {
        content: "←";
    }

    .next-month::before {
        content: "→";
    }

    .day-container {
        font-weight: lighter;

        &.day-container__current {
            background-color: $main-color;
        }

        &.day-container__today {
            @include box-shadow($darker-color);
        }

        &.day-container__disabled {
            cursor: default;
            color: $lighter-color;
        }
    }
}
